body::before {
    content: "";
    position: fixed;   /* IMPORTANT */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('seven_bg_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.9;

    z-index: -1;
}

.content {
    width: 50%; /* Optional: give it a specific width */
  margin-left: auto;
  margin-right: auto;
    text-align:center;
    z-index: 1; 
    color: white; 
    padding: 20px;
}

.top-left-image {
    
    position: absolute;
    top: 0;
    left: 0;
}
.register {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 8px;
    cursor: pointer;
}

.register:hover {
    background-color: #0056b3;
}

.register2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #666;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 8px;
    cursor: not-allowed;
    pointer-events: none;
}
.guest{
    background-color: #b324e7;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;

}

.difficulty-box {
   background: #0009;
   border-radius: 15px;
   padding: 25px;
   margin: 20px auto;
   max-width: 500px;
   color: #ddd;
}

.register-disabled {
   background-color: #3339;
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: not-allowed;
   border-radius: 25px;
}
