body::before {
    content: "";
    position: fixed;   /* IMPORTANT */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('seven_bg_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.9;

    z-index: -1;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.card {
    background-color: white;
    max-width: 440px;
    margin: 60px auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .form-group input:focus {
    border-color: #007BFF;
    outline: none;
  }
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  .submit-btn:hover {
    background-color: #0056b3;
  }